{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tasks{% endblock %}</h1>
  {% block tasks_buttons %}{% endblock %}
{% endblock %}

{% block content %}
  {% for task in tasks %}
    <article class="post">
      <h4>{{ task['title'] }}</h4>
      <p class="description">{{ task['description'] }}</p>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateTaskModal{{ task['id'] }}">Edit</button>
    
      <!-- Modal -->
      <div class="modal fade" id="updateTaskModal{{ task['id'] }}" tabindex="-1" role="dialog" aria-labelledby="updateTaskModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateTaskModalTitle">Edit Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="{{ url_for('todo.update', id=task['id']) }}">
                <label for="title">Title</label>
                <input name="title" id="title" value="{{ task['title'] }}" required>
                <label for="description">Description</label>
                <textarea name="description" id="description">{{ task['description'] }}</textarea>
                <input type="submit" class="btn btn-primary" value="Update">
              </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

      <form action="{{ url_for('todo.dismiss', id=task['id']) }}" method="task">
        {% if not task["completed"] %}
          <input type="submit" value=" ">
        {% else %}
          <input type="submit" value="X">
        {% endif %}
      </form>
      <form action="{{ url_for('todo.delete', id=task['id']) }}" method="task">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
      </form>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}